#red{
    color:red;
}

#blue{
    color: rgb(0, 170, 255);
}

#orange{
    color: rgb(255, 119, 0);
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

.color-title{
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}
